html {
  min-height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family:'Franklin Gothic Medium' ;
  background-image:
  linear-gradient(to bottom, rgb(255,255,200) 0%, rgb(200, 150, 0) 70%, rgb(200, 100, 0) 100%);
  min-height: 100%;
  padding-bottom: 5rem;
}
h1, h2  {
  color:rgb(37, 37, 37);
  text-shadow: 2px 2px 3px rgb(224, 93, 5);
  padding: 3rem 0;
  text-align: center;

  text-transform: uppercase;

  font-family: 'Sen', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
}
.lista-tarea .media {
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 3rem;
}

.lista-tarea .media:last-of-type{
  border-bottom: 0;
}
.lista-tarea .media-body p {
  margin:0;
}
.lista-tarea .media-body button {
  margin-top: 1rem!important;
}
.lista-tarea .media-body span {
  font-weight: bold;
}

label {
  color: black;
}

input[type="date"],
input[type="time"] {
  height: 38px;
    padding: 6px 10px;
    background-color: #fff;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
}

.tarea {
  padding: 2rem;
  background: white;
  border-bottom: 1px solid #e1e1e1;
  color: black;
}

.tarea p {
  font-weight: bold;
  margin-bottom: .8rem;
}
.tarea p span {
  font-weight: normal;

}
.tarea:first-of-type {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.tarea:last-of-type {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}


.button.eliminar,
.button.eliminar:hover {
  background-color: #c10059;
  color: white;
  margin-top: 2rem;
}

.alerta-error {
  background-color: white;
  color: red;
  padding: 1rem;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  font-family:  'Staatliches', cursive;
} 
.boton{
  background-color: black;
  border-radius:25px;
  width:150px;
  
  
}